<div class="container">
  <div class="header-text">
    <h1>Exibindo resultado de busca por "Covid 19"</h1>
    <p>Encontramos um total de 20 resultados para a sua busca</p>
  </div>
    <div class="content">
        <div class="posts-content">
            <div class="post">
                <img src="covid-19.jpg" alt="Imagem escrito Covid-19">
                <div class="post-text">
                    <h2>Coronavírus: como a doença é transmitida?</h2>
                    <p>Saiba o que é o Coronavírus, em quanto tempo a doença pode ser manifestar e quais são os principais</p>
                    <p><a href="noticia-x.html" class="ler-mais">Ler mais</a></p>
                </div>
            </div>
            <div class="post">
                <img src="covid-19.jpg" alt="Imagem escrito Covid-19">
                <div class="post-text">
                    <h2>Coronavírus: como a doença é transmitida?</h2>
                    <p>Saiba o que é o Coronavírus, em quanto tempo a doença pode ser manifestar e quais são os principais</p>
                    <p><a href="noticia-x.html" class="ler-mais">Ler mais</a></p>
                </div>
            </div>
            <div class="post">
                <img src="covid-19.jpg" alt="Imagem escrito Covid-19">
                <div class="post-text">
                    <h2>Coronavírus: como a doença é transmitida?</h2>
                    <p>Saiba o que é o Coronavírus, em quanto tempo a doença pode ser manifestar e quais são os principais</p>
                    <p><a href="noticia-x.html" class="ler-mais">Ler mais</a></p>
                </div>
            </div>
            <div class="post">
                <img src="covid-19.jpg" alt="Imagem escrito Covid-19">
                <div class="post-text">
                    <h2>Coronavírus: como a doença é transmitida?</h2>
                    <p>Saiba o que é o Coronavírus, em quanto tempo a doença pode ser manifestar e quais são os principais</p>
                    <p><a href="noticia-x.html" class="ler-mais">Ler mais</a></p>
                </div>
            </div>
            <div class="post">
                <img src="covid-19.jpg" alt="Imagem escrito Covid-19">
                <div class="post-text">
                    <h2>Coronavírus: como a doença é transmitida?</h2>
                    <p>Saiba o que é o Coronavírus, em quanto tempo a doença pode ser manifestar e quais são os principais</p>
                    <p><a href="noticia-x.html" class="ler-mais">Ler mais</a></p>
                </div>
            </div>
            <div class="post">
                <img src="covid-19.jpg" alt="Imagem escrito Covid-19">
                <div class="post-text">
                    <h2>Coronavírus: como a doença é transmitida?</h2>
                    <p>Saiba o que é o Coronavírus, em quanto tempo a doença pode ser manifestar e quais são os principais</p>
                    <p><a href="noticia-x.html" class="ler-mais">Ler mais</a></p>
                </div>
            </div>
        </div>
        <div class="side-bar">
            <div class="category">
                <h1>Categorias</h1>
                <p><a href="">Lorem ipsum dolor</a></p>
                <hr>
                <p><a href="">Lorem ipsum dolor</a></p>
                <hr>
                <p><a href="">Lorem ipsum dolor</a></p>
                <hr>
                <p><a href="">Lorem ipsum dolor</a></p>
                <hr>
            </div>
            <form action="" class="search-container">
                <p>Procurando alguma notícia?</p>
                <div class="search-bar">
                    <input type="text" class="search-input" placeholder="Pesquisar por...">
                    <button class="search-icon">
                      <i class="bi bi-search"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
